*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 6.25em;
    justify-content: space-around;
    align-items: center;
}

.navbar__item--links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navbar__item--links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 2em;
}

.navbar #image{
    width: 4.375em;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}