.cardsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > button{
        background-color: rgb(255, 166, 0);
        color: #000000;
        font-weight: 800;
        padding: .6em 3em;
        position: relative;
        top: 1rem;
        font-size: 1rem;
    }
    .cardsContainer__header{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 8%;
        justify-content: space-between;
        .cardsContainer__header--cloud{
            display: none;
            img{
                width: 100%;
                min-width: 300px;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
        .cardsContainer__header--title{
            position: relative;
            right: 0%;
            margin-top: 2rem;
            &::before{
                content: '';
                position: absolute;
                border: 3px solid rgb(255, 166, 0);
                width: 98%;
                top: 100%;
                margin-top: 5px;
            }
            h1{
                color: #FFFFFF;
                margin-left: .5rem;
                span{
                    color: rgb(255, 166, 0);
                }
            }
        }
    }
}