*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: "arialRounded";
  src: url("./assets/fonts/arialRounded.ttf");
}

body {
  font-family: "arialRounded", Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0C23;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}